language: python
services:
  - docker
python:
    - "3.4"
    - "3.5"
    - "3.6"
    - "3.7-dev"
before_install:
    - deployment/docker.sh test-container build
install:
    - pip install -r requirements.txt
script:
    - deployment/docker.sh test-container test
branches:
  only:
   - master